@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("./button-animation.scss");

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: black;
}

dialog {
  z-index: 10;
}

.app-container {
  width: --webkit-fill-available;
  height: 100%;
  position: relative;
}

.weather-splash {
  img {
    max-width: 600px;
  }
}

.bg-container {
  box-sizing: border-box;

  z-index: 2;
  position: absolute;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(235, 62%, 73%));
  // background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  transition: transform 0.5s cubic-bezier(0.15, 1.67, 0.52, 0.96);
  &.move {
    transform: translateY(-300px);

    button.move::before {
      font-family: "Lato", sans-serif;
      content: "LESS";
      display: block;
      position: absolute;
      font-size: 1.05rem;
      letter-spacing: 4px;
      font-weight: 300;
      top: 14px;
      left: 22px;
      color: black;
    }
    button.move::after {
      background-image: url(./assets/less-icon.svg);
      background-position-y: 2px;
    }
  }

  display: grid;
}

.hidden-content {
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
  padding: 30px;

  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "preference preference"
    "current forecast";

  .preference {
    grid-area: preference;
    visibility: hidden;
  }
  .current-grid {
    grid-area: current;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "title1 title2 title3 title4"
      "condition temperature feelslike wind";
    place-items: center;
    place-self: center;
    font-weight: bold;

    padding: 5px;
    column-gap: 30px;
    justify-content: center;

    .title {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
      justify-content: center;
    }
    .title1 {
      grid-area: title1;
    }
    .title2 {
      grid-area: title2;
    }
    .title3 {
      grid-area: title3;
    }
    .title4 {
      grid-area: title4;
    }

    .condition,
    .temperature,
    .feels-like,
    .wind {
      font-weight: 500;
      display: grid;
      grid-template-rows: min-content 1fr;
      font-size: 2rem;
    }

    .condition {
      display: flex;
      flex-direction: column;
      .condition-name {
        font-size: 1rem;
        text-transform: capitalize;
      }
    }
  }
  .forecast-grid {
    grid-area: forecast;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "ftitle1 ftitle2 ftitle3"
      "today tomorrow day-after";
    place-items: center;
    place-self: center;
    font-weight: bold;

    .title {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
      justify-content: center;
    }

    .ftitle1 {
      grid-area: ftitle1;
    }
    .ftitle2 {
      grid-area: ftitle2;
    }
    .ftitle3 {
      grid-area: ftitle3;
    }

    .today,
    .tomorrow,
    .day-after-tomorrow {
      place-self: center;
      column-gap: 10px;
      display: grid;
      justify-items: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr min-content;
      grid-template-areas:
        "img img"
        "high low";
      .high {
        color: red;
      }

      img {
        grid-area: img;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .bg-container {
    grid-template-rows: 1fr 1fr min-content min-content min-content !important;

    padding-bottom: 30px;
  }
  .bg-container .quote {
    grid-area: unset;
    grid-column: span 2;
  }

  .bg-container .button-container {
    grid-area: unset;
    grid-column: span 2;
    margin-top: 30px;
  }

  .bg-container .greeting,
  .bg-container .location {
    font-size: 1.3rem;
  }
  .bg-container .time {
    font-size: 4rem;
  }
  .bg-container .location {
    grid-column: span 2;
  }
}
